@tailwind base;
@tailwind components;
@tailwind utilities;
.violet-gradient {
  background: #1f0457;
  background: linear-gradient(-90deg, #1c0252 0%, rgba(60, 51, 80, 0) 100%);
  background: -webkit-linear-gradient(-90deg, #19024a 0%, rgba(60, 51, 80, 0) 100%);
}